<div class="box" style="padding: 20px 20px 20px 20px">
    <br>

    <div>
        <h2>Recaudacion de tienda:</h2>
        <h3>Tienda: {{s.nameShop}}, recaudacion: {{s.amountShop}}</h3>
    </div>

    <br><br>

    <div class="box collapsed-box">
        <div class="box-header with-border">
            <h3 class="box-title">Pedidos por productos</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" id="date-btn-1">
                    <span>
                      <i class="fa fa-calendar"></i>
                    </span>
                    <i class="fa fa-caret-down"></i>
                  </button>
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <table id="tBillsPerProducts" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Producto</th>
                    <th>Unidades</th>
                    <th>Precio</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in BillsPerProducts">
                        <td>{{x.product}}</td>
                        <td>{{x.units}}</td>
                        <td>{{x.price}}</td>
                        <td>{{x.price*x.units}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <br><br>

    <div class="box collapsed-box">
        <div class="box-header with-border">
            <h3 class="box-title">Pedidos por clientes</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" id="date-btn-2">
                    <span>
                      <i class="fa fa-calendar"></i>
                    </span>
                    <i class="fa fa-caret-down"></i>
                  </button>
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <table id="torderByClient" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Monto total</th>
                    <th>Numero de pedidos</th>
                    <th>Promedio</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in orderByClient">
                        <td>{{x.name}} {{x.lname}}</td>
                        <td>{{x.amount}}</td>
                        <td>{{x.nbills}}</td>
                        <td>{{x.prom}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>